a, button {
  transition: all .5s ease; }

.outer-container {
  max-width: 1600px;
  margin: 0 auto; }

.inner-container {
  max-width: 1280px;
  margin: 0 auto;
  border: 15px solid white; }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden; }

.navigation {
  padding: 16px;
  display: block;
  background-color: white;
  float: left;
  width: 100%;
  max-width: 1600px;
  z-index: 9999; }
  @media (max-width: 992px) {
    .navigation {
      padding: 12px; } }
  .navigation form {
    display: block;
    float: left;
    padding-left: 35px; }
    @media (max-width: 992px) {
      .navigation form {
        padding-left: 0px; } }
    @media (max-width: 768px) {
      .navigation form {
        width: 100%; } }
  .navigation input[type='email'] {
    background: #EAEAEA;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    width: 230px;
    padding-left: 20px;
    outline: none;
    transition: all 0.5s ease;
    font-size: 18px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    color: #585858; }
    .navigation input[type='email']:focus {
      background: #f4f4f4; }
    @media (max-width: 768px) {
      .navigation input[type='email'] {
        width: 92%;
        float: left; } }
    @media screen and (max-width: 748px) {
      .navigation input[type='email'] {
        width: 91%; } }
    @media screen and (max-width: 670px) {
      .navigation input[type='email'] {
        width: 90%; } }
    @media screen and (max-width: 600px) {
      .navigation input[type='email'] {
        width: 89%; } }
    @media screen and (max-width: 550px) {
      .navigation input[type='email'] {
        width: 88%; } }
    @media screen and (max-width: 505px) {
      .navigation input[type='email'] {
        width: 87%; } }
    @media screen and (max-width: 468px) {
      .navigation input[type='email'] {
        width: 86%; } }
    @media screen and (max-width: 435px) {
      .navigation input[type='email'] {
        width: 85%; } }
    @media screen and (max-width: 412px) {
      .navigation input[type='email'] {
        width: 84%; } }
    @media screen and (max-width: 386px) {
      .navigation input[type='email'] {
        width: 83%; } }
    @media screen and (max-width: 364px) {
      .navigation input[type='email'] {
        width: 82%;
        font-size: 15px; } }
    @media screen and (max-width: 343px) {
      .navigation input[type='email'] {
        width: 81%; } }
    @media screen and (max-width: 328px) {
      .navigation input[type='email'] {
        width: 80.25%; } }
  .navigation button {
    background: none;
    vertical-align: middle;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 50px;
    margin-left: 4px; }
    .navigation button #bg {
      fill: #00A2BA;
      transition: all 0.5s ease; }
    .navigation button:hover #bg {
      fill: #008ca1;
      transition: all 0.5s ease; }
    .navigation button:hover #Arrow-Right {
      fill: white; }
    @media (max-width: 768px) {
      .navigation button {
        float: right; } }
  .navigation .toast {
    float: left;
    margin-top: 5px;
    padding-left: 70px; }
    @media screen and (max-width: 1100px) {
      .navigation .toast {
        padding-left: 0px; } }
    @media screen and (max-width: 992px) {
      .navigation .toast {
        display: block;
        width: 100%;
        margin-bottom: 8px; } }
    @media screen and (max-width: 768px) {
      .navigation .toast {
        text-align: center; } }
    .navigation .toast h4 {
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #00A2BA;
      margin: 0px;
      padding: 0px; }
      @media screen and (max-width: 992px) {
        .navigation .toast h4 {
          font-size: 16px; } }
    .navigation .toast p {
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #00A2BA;
      margin: 0px;
      padding: 0px; }
  .navigation .social {
    float: right;
    padding-right: 70px;
    margin-top: 7px; }
    @media (max-width: 1100px) {
      .navigation .social {
        padding-right: 0px; } }
    @media (max-width: 768px) {
      .navigation .social {
        margin: 5px;
        display: none; } }
    .navigation .social p {
      float: left;
      margin: 0px;
      line-height: 42px;
      margin-right: 24px;
      font-size: 18px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 300;
      color: #585858; }
      @media (max-width: 768px) {
        .navigation .social p {
          display: none; } }
    .navigation .social .icons {
      float: left; }
      .navigation .social .icons .facebook, .navigation .social .icons .twitter, .navigation .social .icons .email {
        float: left;
        margin-left: 6px; }
      .navigation .social .icons .facebook #bg {
        transition: all 0.5s ease;
        fill: #8B8B8B; }
      .navigation .social .icons .facebook:hover svg #bg {
        transition: all 0.5s ease;
        fill: #585858; }
      .navigation .social .icons .twitter #bg {
        transition: all 0.5s ease;
        fill: #8B8B8B; }
      .navigation .social .icons .twitter:hover svg #bg {
        transition: all 0.5s ease;
        fill: #585858; }
      .navigation .social .icons .email #bg {
        transition: all 0.5s ease;
        fill: #8B8B8B; }
      .navigation .social .icons .email:hover svg #bg {
        transition: all 0.5s ease;
        fill: #585858; }

.navigation-fixed {
  position: fixed; }

.fixed-adjustment {
  margin-top: 84px; }
  @media screen and (max-width: 992px) {
    .fixed-adjustment {
      margin-top: 128px; } }

.hero {
  height: 810px;
  background: url("http://tabsio.s3.amazonaws.com/github/hero-l.jpg");
  background-position: center center;
  background-size: cover;
  display: block;
  float: left;
  width: 100%; }
  @media (max-width: 1280px) {
    .hero {
      background: url("http://tabsio.s3.amazonaws.com/github/hero-l.jpg");
      height: 610px;
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 992px) {
    .hero {
      background: url("http://tabsio.s3.amazonaws.com/github/hero-m.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 768px) {
    .hero {
      background: url("http://tabsio.s3.amazonaws.com/github/hero-s.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 480px) {
    .hero {
      background: url("http://tabsio.s3.amazonaws.com/github/hero-xs.jpg");
      background-position: center center;
      background-size: cover; } }
  .hero .logo {
    top: 50px;
    left: 100px;
    height: 0px;
    position: relative; }
    .hero .logo .track-logo {
      fill: white;
      width: 57px;
      height: 95px; }
    @media (max-width: 992px) {
      .hero .logo {
        width: 57px;
        margin: 0 auto;
        position: relative;
        left: 0;
        top: 140px; } }
  .hero .content-container {
    height: 810px; }
    @media (max-width: 1280px) {
      .hero .content-container {
        height: 610px; } }
    .hero .content-container .content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 20px;
      max-width: 468px;
      margin: 0 auto; }
      @media (max-width: 992px) {
        .hero .content-container .content {
          margin-top: 60px; } }
      .hero .content-container .content h1 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-size: 75px;
        font-family: 'Henderson', Georgia, sans-serif;
        font-weight: 400;
        color: white;
        letter-spacing: -6px; }
        .hero .content-container .content h1 span {
          font-weight: 500; }
        .hero .content-container .content h1 .tm {
          font-size: 16px;
          vertical-align: super;
          margin-left: 4px;
          font-weight: 300; }
      .hero .content-container .content h2 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-size: 26px;
        line-height: 31px;
        font-family: 'Proxima Nova', Georgia, sans-serif;
        font-weight: 300;
        color: white;
        margin-top: 10px; }
      .hero .content-container .content svg.keeptabs {
        text-align: center;
        margin: 0 auto;
        width: 382px;
        height: 75px;
        display: block; }
        @media (max-width: 768px) {
          .hero .content-container .content svg.keeptabs {
            max-width: 300px;
            width: 100%; } }

.product-group {
  display: block;
  float: left;
  width: 100%;
  background: url("http://tabsio.s3.amazonaws.com/github/product-group-l.jpg");
  background-position: center bottom;
  background-size: cover;
  padding-top: 40px;
  height: 670px;
  border-top: 10px solid white; }
  @media (max-width: 1280px) {
    .product-group {
      background: url("http://tabsio.s3.amazonaws.com/github/product-group-l.jpg");
      background-position: center bottom;
      background-size: cover;
      height: 610px; } }
  @media (max-width: 992px) {
    .product-group {
      background: url("http://tabsio.s3.amazonaws.com/github/product-group-m.jpg");
      background-position: center bottom;
      background-size: cover; } }
  @media (max-width: 768px) {
    .product-group {
      background: url("http://tabsio.s3.amazonaws.com/github/product-group-s.jpg");
      background-position: center bottom;
      background-size: cover; } }
  @media (max-width: 480px) {
    .product-group {
      background: url("http://tabsio.s3.amazonaws.com/github/product-group-xs.jpg");
      background-position: center bottom;
      background-size: cover; } }
  .product-group h3 {
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
    padding: 30px;
    font-size: 24px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    line-height: 36px; }

.locate {
  display: block;
  float: left;
  width: 100%; }
  .locate .header h3 {
    font-size: 44px;
    padding: 80px 80px 50px 80px;
    margin: 0px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400;
    float: left;
    letter-spacing: -2px; }
    @media (max-width: 1160px) {
      .locate .header h3 {
        padding-bottom: 0px;
        padding: 80px 30px 0px 30px;
        float: none; } }
  .locate .header p {
    font-size: 22px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    line-height: 30px;
    max-width: 90%;
    margin: 0px;
    padding: 80px 80px 50px 80px; }
    @media (max-width: 1160px) {
      .locate .header p {
        max-width: 100%;
        padding-top: 20px;
        padding: 10px 30px 50px 30px; } }
  @media (max-width: 1160px) {
    .locate .header .col-md-10 {
      width: 100%; } }
  .locate .product {
    display: block;
    float: left;
    width: 100%;
    background: url("http://tabsio.s3.amazonaws.com/github/locate-l.jpg");
    background-position: center center;
    background-size: cover;
    height: 670px;
    border-radius: 10px; }
    @media (max-width: 1280px) {
      .locate .product {
        background: url("http://tabsio.s3.amazonaws.com/github/locate-l.jpg");
        background-position: center center;
        background-size: cover;
        height: 610px; } }
    @media (max-width: 992px) {
      .locate .product {
        background: url("http://tabsio.s3.amazonaws.com/github/locate-m.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 768px) {
      .locate .product {
        background: url("http://tabsio.s3.amazonaws.com/github/locate-s.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 480px) {
      .locate .product {
        background: url("http://tabsio.s3.amazonaws.com/github/locate-xs.jpg");
        background-position: center center;
        background-size: cover;
        height: 1000px; } }
  .locate .features {
    padding: 50px 80px 0px 80px;
    display: block;
    width: 100%;
    float: left; }
    @media (max-width: 992px) {
      .locate .features {
        padding: 50px 30px 0px 30px; } }
    .locate .features .col-md-4 h4 {
      font-size: 24px;
      line-height: 29px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400; }
    .locate .features .col-md-4 p {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      color: #8B8B8B; }
    @media (max-width: 992px) {
      .locate .features .col-md-4 {
        margin-bottom: 30px; } }

.secure {
  display: block;
  float: left;
  width: 100%; }
  .secure .header h3 {
    font-size: 44px;
    padding: 80px 80px 50px 80px;
    margin: 0px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400;
    float: left;
    letter-spacing: -2px; }
    @media (max-width: 1160px) {
      .secure .header h3 {
        padding-bottom: 0px;
        padding: 40px 30px 0px 30px;
        float: none; } }
  .secure .header p {
    font-size: 22px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    line-height: 30px;
    max-width: 90%;
    margin: 0px;
    padding: 80px 80px 50px 80px; }
    @media (max-width: 1160px) {
      .secure .header p {
        max-width: 100%;
        padding-top: 20px;
        padding: 10px 30px 50px 30px; } }
  @media (max-width: 1160px) {
    .secure .header .col-md-10 {
      width: 100%; } }
  .secure .product {
    display: block;
    float: left;
    width: 100%;
    background: url("http://tabsio.s3.amazonaws.com/github/secure-l.jpg");
    background-position: center center;
    background-size: cover;
    height: 670px;
    border-radius: 10px; }
    @media (max-width: 1280px) {
      .secure .product {
        background: url("http://tabsio.s3.amazonaws.com/github/secure-l.jpg");
        background-position: center center;
        background-size: cover;
        height: 610px; } }
    @media (max-width: 992px) {
      .secure .product {
        background: url("http://tabsio.s3.amazonaws.com/github/secure-m.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 768px) {
      .secure .product {
        background: url("http://tabsio.s3.amazonaws.com/github/secure-s.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 480px) {
      .secure .product {
        background: url("http://tabsio.s3.amazonaws.com/github/secure-xs.jpg");
        background-position: center center;
        background-size: cover;
        height: 1000px; } }
  .secure .features {
    padding: 50px 80px 0px 80px;
    display: block;
    width: 100%;
    float: left; }
    @media (max-width: 992px) {
      .secure .features {
        padding: 50px 30px 0px 30px; } }
    .secure .features .col-md-4 h4 {
      font-size: 24px;
      line-height: 29px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400; }
    .secure .features .col-md-4 p {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      color: #8B8B8B; }
    @media (max-width: 992px) {
      .secure .features .col-md-4 {
        margin-bottom: 30px; } }

.monitor {
  display: block;
  float: left;
  width: 100%; }
  .monitor .header h3 {
    font-size: 44px;
    padding: 80px 80px 50px 80px;
    margin: 0px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400;
    float: left;
    letter-spacing: -2px; }
    @media (max-width: 1160px) {
      .monitor .header h3 {
        padding-bottom: 0px;
        padding: 40px 30px 0px 30px;
        float: none; } }
  .monitor .header p {
    font-size: 22px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    line-height: 30px;
    max-width: 90%;
    margin: 0px;
    padding: 80px 80px 50px 80px; }
    @media (max-width: 1160px) {
      .monitor .header p {
        max-width: 100%;
        padding-top: 20px;
        padding: 10px 30px 50px 30px; } }
  @media (max-width: 1160px) {
    .monitor .header .col-md-10 {
      width: 100%; } }
  .monitor .product {
    display: block;
    float: left;
    width: 100%;
    background: url("http://tabsio.s3.amazonaws.com/github/monitor-l.jpg");
    background-position: center center;
    background-size: cover;
    height: 670px;
    border-radius: 10px; }
    @media (max-width: 1280px) {
      .monitor .product {
        background: url("http://tabsio.s3.amazonaws.com/github/monitor-l.jpg");
        background-position: center center;
        background-size: cover;
        height: 610px; } }
    @media (max-width: 992px) {
      .monitor .product {
        background: url("http://tabsio.s3.amazonaws.com/github/monitor-m.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 768px) {
      .monitor .product {
        background: url("http://tabsio.s3.amazonaws.com/github/monitor-s.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 480px) {
      .monitor .product {
        background: url("http://tabsio.s3.amazonaws.com/github/monitor-xs.jpg");
        background-position: center center;
        background-size: cover;
        height: 1000px; } }
  .monitor .features {
    padding: 50px 80px 50px 80px;
    display: block;
    width: 100%;
    float: left; }
    @media (max-width: 992px) {
      .monitor .features {
        padding: 50px 30px 0px 30px; } }
    .monitor .features .col-md-4 h4 {
      font-size: 24px;
      line-height: 29px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400; }
    .monitor .features .col-md-4 p {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      color: #8B8B8B; }
    @media (max-width: 992px) {
      .monitor .features .col-md-4 {
        margin-bottom: 30px; } }

.the-hub {
  display: block;
  float: left;
  width: 100%;
  background: url("http://tabsio.s3.amazonaws.com/github/hub-l.jpg");
  background-position: center center;
  background-size: cover;
  height: auto; }
  @media (max-width: 992px) {
    .the-hub {
      background: url("");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 992px) {
    .the-hub {
      height: auto; } }
  .the-hub .header {
    padding: 50px 80px 50px 80px; }
    @media (max-width: 992px) {
      .the-hub .header {
        padding: 50px 30px 50px 30px; } }
    .the-hub .header h3 {
      font-size: 44px;
      font-family: 'Henderson', Georgia, sans-serif;
      font-weight: 400; }
    .the-hub .header h3.primary-head {
      font-size: 44px;
      font-family: 'Henderson', Georgia, sans-serif;
      font-weight: 400;
      letter-spacing: -2px; }
    .the-hub .header p {
      font-size: 22px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 300;
      line-height: 30px; }
    .the-hub .header h3, .the-hub .header p {
      margin: 0px;
      padding: 0px; }
    .the-hub .header h3 {
      margin-bottom: 10px; }
  .the-hub .features {
    padding-top: 30px;
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 50px; }
    @media (max-width: 992px) {
      .the-hub .features {
        padding-bottom: 20px; } }
    .the-hub .features .feature-rows {
      margin-top: 60px; }
      .the-hub .features .feature-rows .col-md-2, .the-hub .features .feature-rows .col-md-10 {
        padding: 0px; }
      @media (max-width: 992px) {
        .the-hub .features .feature-rows .col-md-2 {
          padding-bottom: 20px; } }
      @media (max-width: 992px) {
        .the-hub .features .feature-rows {
          margin-top: 10px; } }
    .the-hub .features .row {
      margin-bottom: 20px; }
      @media (max-width: 992px) {
        .the-hub .features .row {
          margin-bottom: 0px; } }
    .the-hub .features .col-md-6 h3, .the-hub .features .col-md-7 h3 {
      font-size: 22px;
      line-height: 28px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400; }
    .the-hub .features .col-md-6 h4, .the-hub .features .col-md-7 h4 {
      font-size: 24px;
      line-height: 31px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      margin-top: 0px; }
    .the-hub .features .col-md-6 p, .the-hub .features .col-md-7 p {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      color: #8B8B8B; }
    @media (max-width: 992px) {
      .the-hub .features .col-md-6, .the-hub .features .col-md-7 {
        margin-bottom: 30px; } }
  @media (max-width: 992px) {
    .the-hub .hub-mobile {
      display: block;
      float: left;
      width: 100%;
      background: url("http://tabsio.s3.amazonaws.com/github/hub-m.jpg");
      background-position: center center;
      background-size: cover;
      height: 560px; } }
  @media (max-width: 768px) {
    .the-hub .hub-mobile {
      display: block;
      float: left;
      width: 100%;
      background: url("http://tabsio.s3.amazonaws.com/github/hub-s.jpg");
      background-position: center center;
      background-size: cover;
      height: 560px; } }
  @media (max-width: 480px) {
    .the-hub .hub-mobile {
      display: block;
      float: left;
      width: 100%;
      background: url("http://tabsio.s3.amazonaws.com/github/hub-xs.jpg");
      background-position: center center;
      background-size: cover;
      height: 560px; } }

.integrates {
  display: block;
  float: left;
  width: 100%;
  padding: 40px;
  background-color: #F4F4F4; }
  .integrates .container {
    width: 410px;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .integrates .container {
        width: 100%;
        text-align: center; } }
  .integrates h3 {
    float: left;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    margin: 10px 30px 10px 0px; }
    @media (max-width: 992px) {
      .integrates h3 {
        width: 100%;
        text-align: center; } }
  .integrates .ifttt {
    width: 185px;
    float: left; }
    @media (max-width: 992px) {
      .integrates .ifttt {
        text-align: center;
        display: block;
        margin: 0 auto;
        float: none;
        padding: 10px; } }
  .integrates .alexa {
    width: 231px;
    float: left; }
    @media (max-width: 992px) {
      .integrates .alexa {
        text-align: center;
        display: block;
        margin: 0 auto;
        float: none;
        padding: 10px; } }

.coverage {
  display: block;
  float: left;
  width: 100%;
  padding: 60px 6px 0px 60px;
  background-color: white;
  text-align: center; }
  @media (max-width: 992px) {
    .coverage {
      padding: 60px 30px 30px 30px; } }
  .coverage h3 {
    font-size: 44px;
    line-height: 55px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400;
    letter-spacing: -2px; }
  .coverage p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    color: #8B8B8B;
    max-width: 65%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .coverage p {
        max-width: 85%; } }

.iframe {
  display: block;
  float: left;
  width: 100%;
  /* 16x9 Aspect Ratio */
  /* 4x3 Aspect Ratioo */ }
  .iframe .map-embed {
    position: relative;
    height: 0;
    overflow: hidden; }
  .iframe .map-embed-16x9 {
    height: 800px; }
    @media (max-width: 992px) {
      .iframe .map-embed-16x9 {
        height: 600px;
        width: 100%; } }
  .iframe .map-embed-4x3 {
    padding-bottom: 75%; }
  .iframe .map-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .iframe .overlay {
    background: transparent;
    position: relative;
    width: 100%;
    height: 640px;
    top: 130px;
    z-index: 9999; }
  .iframe p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    color: #8B8B8B;
    max-width: 65%;
    margin: 0 auto;
    text-align: center; }
    @media (max-width: 992px) {
      .iframe p {
        max-width: 85%; } }

.btn-cta {
  background-color: #00A2BA;
  color: #fff !important;
  font-size: 22px;
  font-weight: 500;
  padding: 15px 15px;
  margin: 40px auto 0px auto;
  display: table;
  max-width: 284px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.53px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  text-decoration: none !important; }
  .btn-cta:hover, .btn-cta:active {
    background-color: #007687;
    text-decoration: none;
    color: #fff; }

.pre-order-top {
  background-color: #00A2BA;
  height: 40px;
  transition: all .5s ease;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .pre-order-top span {
    text-decoration: underline !important; }
  .pre-order-top:hover, .pre-order-top:active {
    background-color: #007687; }
    .pre-order-top:hover a, .pre-order-top:active a {
      text-decoration: none;
      color: #fff;
      cursor: pointer; }
  .pre-order-top a {
    text-align: center;
    color: #fff !important;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0px auto;
    padding-top: 8px;
    display: block;
    text-decoration: none !important; }
    @media screen and (max-width: 370px) {
      .pre-order-top a {
        font-size: 15px; } }
  .pre-order-top a:active, .pre-order-top a:visited, .pre-order-top a:focus {
    color: #fff !important; }

.pre-order {
  height: auto;
  clear: both;
  float: none;
  padding-top: 40px; }
  .pre-order a:active, .pre-order a:visited, .pre-order a:focus {
    color: #fff !important; }
  .pre-order .custom-padding {
    padding: 50px 80px 50px 93px; }
    @media (max-width: 992px) {
      .pre-order .custom-padding {
        padding: 50px 10px; } }
  .pre-order h3 {
    font-size: 44px;
    line-height: 55px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400;
    margin-bottom: 23px;
    letter-spacing: -3.02px;
    margin-top: 0px; }
    @media screen and (max-width: 1160px) {
      .pre-order h3 {
        padding: 40px 30px 0px 30px; } }
  .pre-order p {
    font-size: 22px;
    line-height: 28px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    color: #414042;
    max-width: 858px; }
    @media screen and (max-width: 1160px) {
      .pre-order p {
        padding: 10px 30px 50px 30px; } }
  .pre-order .image-wrap {
    position: relative; }
    .pre-order .image-wrap img {
      width: 100%;
      position: relative; }
    .pre-order .image-wrap .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(216, 216, 216, 0);
      z-index: 100;
      transition: all .5s ease; }
    .pre-order .image-wrap:hover {
      cursor: pointer; }
      .pre-order .image-wrap:hover .overlay {
        background-color: rgba(216, 216, 216, 0.5); }
  .pre-order .orders-wrap {
    margin-top: 10px;
    clear: both;
    float: none;
    display: inline-block;
    width: 100%; }
    .pre-order .orders-wrap .pre-order-text h4 {
      font-size: 26px;
      line-height: 31px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      color: #414042;
      text-align: center;
      margin-bottom: 26px;
      margin-top: 15px;
      font-weight: normal;
      letter-spacing: -0.63px; }
    .pre-order .orders-wrap .pre-order-text p {
      color: #414042;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      max-width: 476px;
      margin: 0px auto; }
      .pre-order .orders-wrap .pre-order-text p br {
        line-height: 53px; }
      @media screen and (max-width: 992px) {
        .pre-order .orders-wrap .pre-order-text p {
          padding-bottom: 0px; } }
    .pre-order .orders-wrap .pre-order-text .pbreak {
      margin-bottom: 30px !important;
      padding-bottom: 0px !important;
      padding-top: 0px !important; }
    .pre-order .orders-wrap .security-text p {
      max-width: 491px;
      margin-bottom: 57px; }
      @media screen and (max-width: 992px) {
        .pre-order .orders-wrap .security-text p {
          margin-bottom: 0px; } }
    .pre-order .orders-wrap .pre-order-btn button {
      background: #00A2BA;
      border-radius: 5px;
      color: #fff;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 600;
      border: none !important;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      padding: 15px 25px;
      display: block;
      margin: 55px auto 0px auto;
      letter-spacing: -0.53px; }
      @media screen and (max-width: 993px) {
        .pre-order .orders-wrap .pre-order-btn button {
          margin-top: 29px; } }
      .pre-order .orders-wrap .pre-order-btn button:hover, .pre-order .orders-wrap .pre-order-btn button:active {
        background-color: #007687; }
    .pre-order .orders-wrap .pre-order-btn p {
      font-size: 14px;
      text-align: center;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      color: #8B8B8B;
      padding: 0px !important;
      margin: 15px auto 52px auto; }
    .pre-order .orders-wrap .included-wrap img {
      display: block;
      margin: 0px auto;
      width: 100%;
      max-width: 509px; }
    .pre-order .orders-wrap .included-wrap p {
      color: #414042;
      font-weight: 500;
      text-align: center;
      font-size: 22px;
      line-height: 26px;
      margin: 0px auto; }
    .pre-order .orders-wrap .included-wrap .sub-text {
      font-size: 18px;
      color: #8B8B8B;
      line-height: 24px;
      text-align: center;
      max-width: 476px;
      margin: 0px auto;
      margin-top: 40px;
      font-weight: normal; }
      .pre-order .orders-wrap .included-wrap .sub-text b {
        font-weight: 500; }

.modal .modal-dialog {
  max-width: 1129px;
  width: 100%;
  padding: 20px;
  margin: 10px auto; }

.modal .modal-content {
  background: #FFFFFF;
  box-shadow: 1px 1px 6px 4px rgba(167, 167, 167, 0.5);
  border: none !important;
  border-radius: 0px; }

.modal .modal-body img {
  width: 100%; }

.modal .close-btn {
  background-color: #00A2BA;
  color: #fff;
  border: none !important;
  position: relative;
  float: right;
  z-index: 10000;
  border-radius: 99999px;
  width: 35px;
  height: 35px;
  padding: 0px;
  margin-top: -18px;
  margin-right: -18px; }
  .modal .close-btn:hover {
    background-color: #007687; }
  .modal .close-btn img {
    width: 18px;
    margin: 0px auto;
    display: block; }

.modal-backdrop {
  background-color: #fff !important; }

.footer {
  display: block;
  float: left;
  width: 100%;
  padding: 30px 60px 0px 60px;
  background-color: white;
  text-align: center; }
  @media (max-width: 992px) {
    .footer {
      padding: 10px 20px 0px 20px; } }
  .footer p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    color: #8B8B8B;
    max-width: 65%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .footer p {
        max-width: 85%; } }
  .footer .copyright {
    font-size: 13px;
    line-height: 16px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    color: #c8c8c8;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 20px; }
  .footer .footer-logo {
    padding: 80px; }
    @media (max-width: 768px) {
      .footer .footer-logo {
        padding: 40px 0px 40px 0px; } }
    @media (max-width: 768px) {
      .footer .footer-logo svg {
        width: 50%;
        margin: 40px; } }
  .footer .social {
    float: none;
    margin: 0 auto;
    width: 136px;
    margin-top: 20px; }
    @media (max-width: 992px) {
      .footer .social {
        padding-right: 0px; } }
    .footer .social p {
      float: left;
      margin: 0px;
      line-height: 42px;
      margin-right: 24px;
      font-size: 18px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 300;
      color: #585858; }
      @media (max-width: 768px) {
        .footer .social p {
          display: none; } }
    .footer .social .icons {
      float: left; }
      .footer .social .icons .facebook, .footer .social .icons .twitter, .footer .social .icons .email {
        float: left;
        margin: 2px; }
      .footer .social .icons .facebook #bg {
        transition: all 0.5s ease;
        fill: #8B8B8B; }
      .footer .social .icons .facebook:hover svg #bg {
        transition: all 0.5s ease;
        fill: #585858; }
      .footer .social .icons .twitter #bg {
        transition: all 0.5s ease;
        fill: #8B8B8B; }
      .footer .social .icons .twitter:hover svg #bg {
        transition: all 0.5s ease;
        fill: #585858; }
      .footer .social .icons .email #bg {
        transition: all 0.5s ease;
        fill: #8B8B8B; }
      .footer .social .icons .email:hover svg #bg {
        transition: all 0.5s ease;
        fill: #585858; }
