.outer-container {
  max-width: 1600px;
  margin: 0 auto; }

.inner-container {
  max-width: 1280px;
  margin: 0 auto;
  border: 15px solid white; }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.navigation {
  padding: 16px;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  float: left;
  width: 100%;
  max-width: 1600px; }
  .navigation form {
    display: block;
    float: left;
    padding-left: 70px; }
    @media (max-width: 992px) {
      .navigation form {
        padding-left: 0px; } }
    @media (max-width: 768px) {
      .navigation form {
        width: 100%; } }
  .navigation input[type='email'] {
    background: #EAEAEA;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    width: 320px;
    padding-left: 20px;
    outline: none;
    transition: all 0.5s ease;
    font-size: 18px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    color: #585858; }
    .navigation input[type='email']:focus {
      background: #f4f4f4; }
    @media (max-width: 768px) {
      .navigation input[type='email'] {
        width: 100%;
        margin-bottom: 20px; } }
  .navigation button {
    background: none;
    vertical-align: middle;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 50px;
    margin-left: 4px; }
    .navigation button #bg {
      fill: #00A2BA;
      transition: all 0.5s ease; }
    .navigation button:hover #bg {
      fill: #02879a;
      transition: all 0.5s ease; }
    .navigation button:hover #Arrow-Right {
      fill: white; }
    @media (max-width: 768px) {
      .navigation button {
        position: absolute;
        z-index: 9999px;
        top: 16px;
        right: 16px; } }
  .navigation .social {
    float: right;
    padding-right: 70px; }
    @media (max-width: 992px) {
      .navigation .social {
        padding-right: 0px; } }
    @media (max-width: 768px) {
      .navigation .social {
        float: none;
        width: 140px;
        float: none;
        margin: 0 auto; } }
    .navigation .social p {
      float: left;
      margin: 0px;
      line-height: 42px;
      margin-right: 24px;
      font-size: 18px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 300;
      color: #585858; }
      @media (max-width: 768px) {
        .navigation .social p {
          display: none; } }
    .navigation .social .icons {
      float: left; }
      .navigation .social .icons .facebook, .navigation .social .icons .twitter, .navigation .social .icons .email {
        float: left;
        margin-left: 6px; }
      .navigation .social .icons .facebook #bg {
        transition: all 0.5s ease;
        fill: #00A2BA; }
      .navigation .social .icons .facebook:hover svg #bg {
        transition: all 0.5s ease;
        fill: #02879a; }
      .navigation .social .icons .twitter #bg {
        transition: all 0.5s ease;
        fill: #00A2BA; }
      .navigation .social .icons .twitter:hover svg #bg {
        transition: all 0.5s ease;
        fill: #02879a; }
      .navigation .social .icons .email #bg {
        transition: all 0.5s ease;
        fill: #00A2BA; }
      .navigation .social .icons .email:hover svg #bg {
        transition: all 0.5s ease;
        fill: #02879a; }

.hero {
  height: 710px;
  background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/hero-l.jpg");
  background-position: center center;
  background-size: cover;
  display: block;
  float: left;
  width: 100%; }
  @media (max-width: 992px) {
    .hero {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/hero-m.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 768px) {
    .hero {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/hero-s.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 480px) {
    .hero {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/hero-xs.jpg");
      background-position: center center;
      background-size: cover; } }
  .hero .logo {
    top: 50px;
    left: 100px;
    height: 0px;
    position: relative; }
    @media (max-width: 992px) {
      .hero .logo {
        width: 57px;
        margin: 0 auto;
        position: relative;
        left: 0;
        top: 160px; } }
  .hero .content-container {
    height: 710px; }
    .hero .content-container .content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 20px;
      max-width: 468px;
      margin: 0 auto; }
      .hero .content-container .content h1 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-size: 75px;
        font-family: 'Henderson', Georgia, sans-serif;
        font-weight: 400;
        color: white;
        letter-spacing: -6px; }
        .hero .content-container .content h1 span {
          font-weight: 500; }
        .hero .content-container .content h1 .tm {
          font-size: 16px;
          vertical-align: super;
          margin-left: 4px;
          font-weight: 300; }
      .hero .content-container .content h2 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-size: 26px;
        line-height: 31px;
        font-family: 'Proxima Nova', Georgia, sans-serif;
        font-weight: 300;
        color: white; }

.product-group {
  display: block;
  float: left;
  width: 100%;
  background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/product-group-l.jpg");
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  height: 640px;
  border-top: 10px solid white; }
  @media (max-width: 992px) {
    .product-group {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/product-group-m.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 768px) {
    .product-group {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/product-group-s.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 480px) {
    .product-group {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/product-group-xs.jpg");
      background-position: center center;
      background-size: cover; } }
  .product-group h3 {
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
    padding: 30px;
    font-size: 24px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    line-height: 36px; }

.locate {
  display: block;
  float: left;
  width: 100%; }
  .locate .header h3 {
    font-size: 44px;
    padding: 50px 80px 50px 80px;
    margin: 0px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400; }
    @media (max-width: 1160px) {
      .locate .header h3 {
        padding-bottom: 0px;
        padding: 50px 30px 0px 30px; } }
  .locate .header p {
    font-size: 22px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    line-height: 30px;
    max-width: 80%;
    margin: 0px;
    padding: 50px 80px 50px 80px; }
    @media (max-width: 1160px) {
      .locate .header p {
        max-width: 100%;
        padding-top: 20px;
        padding: 10px 30px 50px 30px; } }
  @media (max-width: 1160px) {
    .locate .header .col-md-10 {
      width: 100%; } }
  .locate .product {
    display: block;
    float: left;
    width: 100%;
    background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/locate-l.jpg");
    background-position: center center;
    background-size: cover;
    height: 640px;
    border-radius: 10px; }
    @media (max-width: 992px) {
      .locate .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/locate-m.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 768px) {
      .locate .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/locate-s.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 480px) {
      .locate .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/locate-xs.jpg");
        background-position: center center;
        background-size: cover; } }
  .locate .features {
    padding: 50px 80px 0px 80px;
    display: block;
    width: 100%;
    float: left; }
    @media (max-width: 992px) {
      .locate .features {
        padding: 50px 30px 0px 30px; } }
    .locate .features .col-md-4 h4 {
      font-size: 24px;
      line-height: 29px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400; }
    .locate .features .col-md-4 p {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      color: #8B8B8B; }
    @media (max-width: 992px) {
      .locate .features .col-md-4 {
        margin-bottom: 30px; } }

.secure {
  display: block;
  float: left;
  width: 100%; }
  .secure .header h3 {
    font-size: 44px;
    padding: 50px 80px 50px 80px;
    margin: 0px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400; }
    @media (max-width: 1160px) {
      .secure .header h3 {
        padding-bottom: 0px;
        padding: 10px 30px 0px 30px; } }
  .secure .header p {
    font-size: 22px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    line-height: 30px;
    max-width: 80%;
    margin: 0px;
    padding: 50px 80px 50px 80px; }
    @media (max-width: 1160px) {
      .secure .header p {
        max-width: 100%;
        padding-top: 20px;
        padding: 10px 30px 50px 30px; } }
  @media (max-width: 1160px) {
    .secure .header .col-md-10 {
      width: 100%; } }
  .secure .product {
    display: block;
    float: left;
    width: 100%;
    background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/secure-l.jpg");
    background-position: center center;
    background-size: cover;
    height: 640px;
    border-radius: 10px; }
    @media (max-width: 992px) {
      .secure .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/secure-m.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 768px) {
      .secure .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/secure-s.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 480px) {
      .secure .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/secure-xs.jpg");
        background-position: center center;
        background-size: cover; } }
  .secure .features {
    padding: 50px 80px 0px 80px;
    display: block;
    width: 100%;
    float: left; }
    @media (max-width: 992px) {
      .secure .features {
        padding: 50px 30px 0px 30px; } }
    .secure .features .col-md-4 h4 {
      font-size: 24px;
      line-height: 29px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400; }
    .secure .features .col-md-4 p {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      color: #8B8B8B; }
    @media (max-width: 992px) {
      .secure .features .col-md-4 {
        margin-bottom: 30px; } }

.monitor {
  display: block;
  float: left;
  width: 100%; }
  .monitor .header h3 {
    font-size: 44px;
    padding: 50px 80px 50px 80px;
    margin: 0px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400; }
    @media (max-width: 1160px) {
      .monitor .header h3 {
        padding-bottom: 0px;
        padding: 10px 30px 0px 30px; } }
  .monitor .header p {
    font-size: 22px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 300;
    line-height: 30px;
    max-width: 80%;
    margin: 0px;
    padding: 50px 80px 50px 80px; }
    @media (max-width: 1160px) {
      .monitor .header p {
        max-width: 100%;
        padding-top: 20px;
        padding: 10px 30px 50px 30px; } }
  @media (max-width: 1160px) {
    .monitor .header .col-md-10 {
      width: 100%; } }
  .monitor .product {
    display: block;
    float: left;
    width: 100%;
    background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/monitor-l.jpg");
    background-position: center center;
    background-size: cover;
    height: 640px;
    border-radius: 10px; }
    @media (max-width: 992px) {
      .monitor .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/monitor-m.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 768px) {
      .monitor .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/monitor-s.jpg");
        background-position: center center;
        background-size: cover; } }
    @media (max-width: 480px) {
      .monitor .product {
        background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/monitor-xs.jpg");
        background-position: center center;
        background-size: cover; } }
  .monitor .features {
    padding: 50px 80px 50px 80px;
    display: block;
    width: 100%;
    float: left; }
    @media (max-width: 992px) {
      .monitor .features {
        padding: 50px 30px 0px 30px; } }
    .monitor .features .col-md-4 h4 {
      font-size: 24px;
      line-height: 29px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400; }
    .monitor .features .col-md-4 p {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      color: #8B8B8B; }
    @media (max-width: 992px) {
      .monitor .features .col-md-4 {
        margin-bottom: 30px; } }

.the-hub {
  display: block;
  float: left;
  width: 100%;
  background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/hub-l.jpg");
  background-position: center center;
  background-size: cover;
  height: auto; }
  @media (max-width: 992px) {
    .the-hub {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/hub-m.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 768px) {
    .the-hub {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/hub-s.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 480px) {
    .the-hub {
      background: url("https://s3.amazonaws.com/roket-sandbox/sandbox/tabs/hub-xs.jpg");
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 992px) {
    .the-hub {
      height: auto; } }
  .the-hub .header {
    padding: 50px 80px 50px 80px; }
    @media (max-width: 992px) {
      .the-hub .header {
        padding: 10px 30px 50px 30px; } }
    .the-hub .header h3 {
      font-size: 44px;
      font-family: 'Henderson', Georgia, sans-serif;
      font-weight: 400; }
    .the-hub .header p {
      font-size: 22px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 300;
      line-height: 30px; }
    .the-hub .header h3, .the-hub .header p {
      margin: 0px;
      padding: 0px; }
    .the-hub .header h3 {
      margin-bottom: 10px; }
  .the-hub .features {
    padding-top: 30px;
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 50px; }
    .the-hub .features .feature-rows {
      margin-top: 60px; }
      .the-hub .features .feature-rows .col-md-1, .the-hub .features .feature-rows .col-md-11 {
        padding: 0px; }
      @media (max-width: 992px) {
        .the-hub .features .feature-rows {
          margin-top: 10px; } }
    .the-hub .features .row {
      margin-bottom: 20px; }
      @media (max-width: 992px) {
        .the-hub .features .row {
          margin-bottom: 0px; } }
    .the-hub .features .col-md-6 h3 {
      font-size: 22px;
      line-height: 28px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400; }
    .the-hub .features .col-md-6 h4 {
      font-size: 26px;
      line-height: 31px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      margin-top: 0px; }
    .the-hub .features .col-md-6 p {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-weight: 400;
      color: #8B8B8B; }
    @media (max-width: 992px) {
      .the-hub .features .col-md-6 {
        margin-bottom: 30px; } }

.integrates {
  display: block;
  float: left;
  width: 100%;
  padding: 40px;
  background-color: #F4F4F4; }
  .integrates .container {
    width: 675px;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .integrates .container {
        width: 100%;
        text-align: center; } }
  .integrates h3 {
    float: left;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    margin: 10px 30px 10px 0px; }
    @media (max-width: 992px) {
      .integrates h3 {
        width: 100%;
        text-align: center; } }
  .integrates .ifttt {
    width: 185px;
    float: left;
    margin-right: 30px; }
    @media (max-width: 992px) {
      .integrates .ifttt {
        text-align: center;
        display: block;
        margin: 0 auto;
        float: none;
        padding: 10px; } }
  .integrates .alexa {
    width: 231px;
    float: left; }
    @media (max-width: 992px) {
      .integrates .alexa {
        text-align: center;
        display: block;
        margin: 0 auto;
        float: none;
        padding: 10px; } }

.coverage {
  display: block;
  float: left;
  width: 100%;
  padding: 60px 6px 0px 60px;
  background-color: white;
  text-align: center; }
  @media (max-width: 992px) {
    .coverage {
      padding: 60px 30px 0px 30px; } }
  .coverage h3 {
    font-size: 44px;
    line-height: 55px;
    font-family: 'Henderson', Georgia, sans-serif;
    font-weight: 400; }
  .coverage p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    color: #8B8B8B;
    max-width: 65%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .coverage p {
        max-width: 85%; } }

.iframe {
  display: block;
  float: left;
  width: 100%;
  /* 16x9 Aspect Ratio */
  /* 4x3 Aspect Ratioo */ }
  .iframe .map-embed {
    position: relative;
    height: 0;
    overflow: hidden; }
  .iframe .map-embed-16x9 {
    padding-bottom: 56.25%; }
  .iframe .map-embed-4x3 {
    padding-bottom: 75%; }
  .iframe .map-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .iframe .overlay {
    background: transparent;
    position: relative;
    width: 640px;
    height: 480px;
    /* your iframe height */
    top: 480px;
    /* your iframe height */
    margin-top: -480px;
    /* your iframe height */ }

.footer {
  display: block;
  float: left;
  width: 100%;
  padding: 60px 60px 20px 60px;
  background-color: white;
  text-align: center; }
  @media (max-width: 992px) {
    .footer {
      padding: 60px 30px 0px 30px; } }
  .footer p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    color: #8B8B8B;
    max-width: 65%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .footer p {
        max-width: 85%; } }
  .footer .copyright {
    font-size: 13px;
    line-height: 16px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 400;
    color: #585858;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 20px; }
  .footer .footer-logo {
    padding: 80px; }
