body {
  display: none;
}

// 1. Vars and Globals
// 2. Navigation
// 3. Hero
// 4. Product Group
// 5. Locate
// 6. Secure
// 7. Monitor
// 8. The Hub

// 1. Vars
$small: 768px;
$medium: 992px;

.outer-container {
  max-width: 1600px;
  margin: 0 auto;
}

// 2. Navigation
.navigation {
  padding: 28px;
  display: block;
  background-color: rgba(255,255,255,.4);
  float: left;
  width: 100%;
  position: absolute;
  z-index: 9999;
  max-width: 1600px;
  form {
    display: block;
    float: left;
    @media (max-width: $small) {
      width: 100%;
    }
  }
  input[type='email'] {
    background: rgba(255,255,255,.5);
    border: 0px;
    border-radius: 5px;
    height: 50px;
    width: 320px;
    padding-left: 20px;
    outline: none;
    transition: all 0.5s ease;
    &:focus {
      background: rgba(255,255,255,1);
    }
    @media (max-width: $small) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  button {
    background: none;
    vertical-align: middle;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 50px;
    margin-left: 4px;
    &:hover {
      #bg {
        fill: rgba(0,0,0,.8);
        transition: all 0.5s ease;
      }
      #Arrow-Right {
        fill: white;
      }
    }
    @media (max-width: $small) {
      position: absolute;
      z-index: 9999px;
      top: 28px;
      right: 28px;
    }
  }
  .social {
    float: right;
    @media (max-width: $small) {
      float: none;
      width: 140px;
      float: none;
      margin: 0 auto;
    }
    p {
      float: left;
      margin: 0px;
      line-height: 42px;
      margin-right: 24px;
      @media (max-width: $small) {
        display: none;
      }
    }
    .icons {
      float: left;
      .facebook, .twitter, .email {
        float: left;
        margin-left: 6px;
      }
      .facebook {
        &:hover {
          svg {
            #bg {
              transition: all 0.5s ease;
              fill: rgba(0,0,0,.8);
            }
          }
        }
      }
      .twitter {
        &:hover {
          svg {
            #bg {
              transition: all 0.5s ease;
              fill: rgba(0,0,0,.8);
            }
          }
        }
      }
      .email {
        &:hover {
          svg {
            #bg {
              transition: all 0.5s ease;
              fill: rgba(0,0,0,.8);
            }
          }
        }
      }
    }
  }
}

// 3. Hero
.hero {
  height: 790px;
  background: url('https://unsplash.it/g/1910/1080/?blur');
  background-position: center center;
  background-size: cover;
  display: block;
  float: left;
  width: 100%;
  .logo {
    top: 180px;
    left: 100px;
    height: 0px;
    position: relative;
    @media (max-width: $small) {
      width: 135px;
      margin: 0 auto;
      position: relative;
      left: 0;
      top: 220px;
    }
  }
  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    h1 {
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    h2 {
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
  }
}

// 4. Product Group
.product-group {
  display: block;
  float: left;
  width: 100%;
  background: url('https://unsplash.it/g/2008/1080/?blur');
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  height: 640px;
  border-top: 10px solid white;
  h3 {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
  }
}

// 5. Locate

.locate {
  display: block;
  float: left;
  width: 100%;
  .header {
    padding: 50px 80px 50px 80px;
    h3, p {
      margin: 0px;
      padding: 0px;
    }
  }
  .product {
    display: block;
    float: left;
    width: 100%;
    background: url('https://unsplash.it/g/2006/1080/?blur');
    background-position: center center;
    background-size: cover;
    height: 640px;
  }
  .features {
    padding: 50px 80px 0px 80px;
    display: block;
    width: 100%;
    float: left;
    .col-md-4 {
      @media (max-width: $medium) {
        margin-bottom: 30px;
      }
    }
  }
}

// 6. Secure

.secure {
  display: block;
  float: left;
  width: 100%;
  .header {
    padding: 50px 80px 50px 80px;
    h3, p {
      margin: 0px;
      padding: 0px;
    }
  }
  .product {
    display: block;
    float: left;
    width: 100%;
    background: url('https://unsplash.it/g/2010/1080/?blur');
    background-position: center center;
    background-size: cover;
    height: 640px;
  }
  .features {
    padding: 50px 80px 0px 80px;
    display: block;
    width: 100%;
    float: left;
    .col-md-4 {
      @media (max-width: $medium) {
        margin-bottom: 30px;
      }
    }
  }
}

// 7. Monitor

.monitor {
  display: block;
  float: left;
  width: 100%;
  .header {
    padding: 50px 80px 50px 80px;
    h3, p {
      margin: 0px;
      padding: 0px;
    }
  }
  .product {
    display: block;
    float: left;
    width: 100%;
    background: url('https://unsplash.it/g/2011/1080/?blur');
    background-position: center center;
    background-size: cover;
    height: 640px;
  }
  .features {
    padding: 50px 80px 50px 80px;
    display: block;
    width: 100%;
    float: left;
    .col-md-4 {
      @media (max-width: $medium) {
        margin-bottom: 30px;
      }
    }
  }
}

// 8. The Hub

.the-hub {
  display: block;
  float: left;
  width: 100%;
  background: url('https://unsplash.it/g/2008/1080/?blur');
  background-position: center center;
  background-size: cover;
  height: 640px;
  .header {
    padding: 50px 80px 50px 80px;
    h3, p {
      margin: 0px;
      padding: 0px;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
  .features {
    padding-top: 50px;
    display: block;
    width: 100%;
    float: left;
    .row {
      margin-bottom: 20px;
    }
    .col-md-4 {
      @media (max-width: $medium) {
        margin-bottom: 30px;
      }
    }
  }
}
